/*body {
	font-family: Tahoma;
}
*/
.exam {
	color:purple;
	font-weight: bold;
}



.due {
	color:red;
	font-weight: bold;
}

.lectureNotes {
}

.assign {
}

li {
	text-align: left;
}

.date{
	margin-right:5px;
	margin-left:5px;
	margin-top:5px;
}

.date h3{
	font-size: 20px;
}

.DAC{
	background-color: yellow;
}

.DP{
	background-color: green;
}

.NoClass{
	background-color: gray;
}

.info{
	background-color: white;
	text-align: left;
	padding:10px;
}


header {
	text-align: center;
	margin-top:0;
}

h3 {
	margin-top:0;
	padding-top:10px;
}

ul {
	text-align: left;
}

p {
	text-align: left;
	padding-left: 10px;
}